body{
background:#fafafa;
font-family:Arial;
display:flex;
flex-direction:column;
align-items:center;
}

.container{
width:350px;
background:white;
border:1px solid #dbdbdb;
padding:40px;
margin-top:40px;
text-align:center;
border-radius: 10px;
}

.name{
font-family:cursive;
font-size:45px;
color:#c1077fc0;
}

.subtitle{
color:#5b3503;
font-size:17px;
}

.facebook-btn{
background:#0095f6;
color:rgb(211, 233, 50);
border:none;
padding:8px;
width:100%;
border-radius:10px;
margin:10px 0;
}

input{
width:100%;
border-radius: 10px;
padding:9px;
margin:5px 0;
border:1px solid #dbdbdb;
background:#fafafa;
}

button[type="submit"]{
background:#5aba0b;
color:white;
border:none;
width:100%;
padding:9px;
margin-top:10px;
border-radius:10px;

}

.small-text{
font-size:12px;
color:#bdabab;
margin-top:10px;

}

.login-box{
width:350px;
background:white;
border:1px solid #dbdbdb;
text-align:center;
padding:15px;
margin-top:10px;
}

.login-box a{
color:#0095f6;
text-decoration:none;

}